{% extends "base.html.twig" %}
{% block title %}{% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="icon" type="image/x-icon" href="./image/ShoeIcon.ico">
    <link rel="stylesheet" type="text/css" href="./about.css">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  </head>
    <body>
        <section id="hero">
            <div class="container">
                <span class="big-circle"></span>
                    {# <img src="./Image/shape.png" class="square" alt="" /> #}
                        <div class="form">
                            <div class="contact-info">
                                <h3 class="title">Let's get in touch</h3>
                                    <p class="text" style="text-align: justify">
                                        Dear valued customers,
                                        Online Shoe-Shop Web is a website that we created to introduce our products to everyone. 
                                        Our website sells shoes, all made in Vietnam with the desire to create good shoe products for everyone
                                        especially for students, teenagers, and anyone who prefers them. 
                                        Our products offer a guarantee of quality and affordable prices for everyone. 
                                        Come to us so we can choose for you a suitable pair of shoes to cherish your feet.
                                    </p>
                <div class="info">
                    <div class="information">
                        <img src="./Image/location.png" class="icon" alt="" />
                        <p>The branch located at P10, Tran Hoang Na Road, An Giang City</p>
                    </div>
                    <div class="information">
                        <img src="./Image/email.png" class="icon" alt="" />
                        <p>shoesstore@gmail.com</p>
                    </div>
                    <div class="information">
                        <img src="./Image/phone.png" class="icon" alt="" />
                        <p>0931-927-908</p>
                    </div>
                </div>

                <div class="social-media">
                    <p>Connect with us :</p>
                        <div class="social-icons">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                </div>
            </div>
        </section>
    </body>
</html>
{% endblock %}